.page-wrapper{
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://2.bp.blogspot.com/-MNU9Zat5jWE/UK3vhHzaooI/AAAAAAAAVR8/k7tK-Wr7KtY/s1600/luxury-house-design.jpg');
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    background-position: center center;
}

.main{
    height: 80%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.img-back{
    background-color: #080202cf;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.form{
    width: 50%;
    height: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.overlay-company{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-company{
    color: #fff;
    position: absolute;
    text-align: center;
    font-size: 50px;

}
.btns-company-login{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.btn-company-login{
    width: 47%;
    height: 50px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    cursor: pointer;
    background-color: #FF7B54;
    color: white;
}
.btn-company-login:hover{
    background-color: #ff7c54e2;
}
.btn-submit-company-login{
    width: 125px;
    height: 30px;
    font-size: large;
    background-color: #FF7B54;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    margin-left: 30px;
}
.btn-submit-company-login:hover{
    background-color: #b76b54;
}
.clf{
    margin-top: 15px;
    background-color: #ffd6a5ae;
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    max-height: 500px;
    overflow: scroll;
    scroll-behavior: smooth;
}
.clf::-webkit-scrollbar{
    display: none;
}
.btn-clf-wrapper{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input-company-wrapper{
    width: 90%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.input-clf-label{
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 2px;
    color: #553939;
}
.login-company-input{
    width: 90%;
    height: 25px;
    background-color: #ffffffae;
    border: none;
    font-size: larger;
    border-radius: 1px;
    margin-top: 5px;
}
.login-company-input:focus{
    outline: none;
}
.cfl-pass:focus{
    border-right: none;
}
.login-company-input::after{
    border: none;
}
.input-border{
    border: none;
}
.required-span{
    color: red;
}