.CompanyAllProducts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CompanyAdvertiseSeller{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #884A39;
    height: 120px;
    border-bottom: 3px solid gold;
    transition: height 0.5s;
}
.CompanyAdvertiseSeller img{
    height: 70px;
    width:  100px;
    border: 1.5px solid aliceblue;
    border-radius: 3px;
}
.SelllerBrandName{
    color: #fff;
    font-size: larger;
    margin-left: 10px;
}
.SelllerBrandName span{
    font-size: xx-large;
}
.CompanyAllProductsMain{
    width: 100%;
    height: 600px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.CompanyAllProductsMain::-webkit-scrollbar{
    display: none;
}
.TypingEffectCon{
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    min-height: 150px;
    margin: 1%;
    border-radius: 5px;
}
.CompTrackSalesHead{
    width: 350px;
    box-shadow: 15px 17px 20px rgba(0,0,0,0.3);
    border-bottom: 5px double #F9E0BB;
    border-right: 2px solid #F9E0BB;
    font-size: 50px;
    margin-top: 15px;
    margin-left: 15px;
    color: #482121;
    display: flex;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.CompTrackSalesProdsCon{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
}
.CLPCard{
    width: 250px;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 15px 17px 20px rgba(0,0,0,0.3);
    background-color: #EAAC7F;
    margin: 15px;
    border-radius: 5px;
}
.CLPCardImg{
    width: 100%;
    height: 220px;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.CLP-Main{
    width: 100%;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.CLP-title{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: larger;
    color: #333;
    margin-top: 3px;
}
.CLP-title-head{
    margin-left: 7px;
    font-size: 18px;
    color: #444;
}
.CLP-title-val{
    margin-left: 3px;
    font-size: 20px;
    color: #555;
}
.CLP-card-btn-con{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CLP-card-btn{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #482121;
    color: #fff;
    font-size: x-large;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 5px;
    transition: background-color 0.5s;
}
.CLP-card-btn:hover{
    background-color: #482121ce;
}