.prod-image-display{
    width: 50%;
    height: 750px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.prod-big-display-con{
    width: 95%;
    height: 100%;
    margin-left: 2.5%;
    filter: brightness(90%);
    border-radius: 15px;
    border: 1px solid #876445;
    transition: filter 1s;
}
.image-big-prod-con{
    width: 100%;
    height: 82%;
    position: relative;
    display: inline-block;
    /* transition: filter 0.5s; */
}
.left-key-prod , 
.right-key-prod{
    position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #ffffff69; */
    /* color: #876445; */
    color: #fff;
    width: 60px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 2px;
    /* border: 2px solid #876445; */
}
.left-key-prod{
    left: 2.5%;
}
.right-key-prod{
    right: 2.5%;
}
.prod-small-pic-con{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-small-display-con{
    width: 10%;
    height: 80px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    filter: brightness(80%);
    transition: filter 1s;
}
.main-prod-con{
    width: 50%;
    height: 750px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;    
    align-items: center;
}
.main-prod-con::-webkit-scrollbar{
    display: none;
}
.prod-title-display{
    text-align: center;
    width: 100%;
    color: #393E46;
    margin-top: 50px;
    font-size: 40px;
}
.prod-con{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    /* height: 50px; */
    margin-bottom: 10px;
}
.prod-title{
    font-size: xx-large;
    /* height: 40px; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 30px;
    color: #444;
    width: 40%;
}
.prod-val{
    font-size: 30px;
    /* height: 40px; */
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #333;
}
.prod-desc{
    font-size: large;
    flex-direction: column;
}
.features-con{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.features-con-title{
    width: 50%;
    font-size: x-large;
}
.features-con-val{
    width: 50%;
    font-size: larger;
}
.prod-btns-con{
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.prod-btn{
    width: 30%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.prod-bn{
    background-color: #862B0D;
}
.prod-ac{
    background-color: #001C30;
}
.prod-bn:hover{
    background-color: #862b0dc1;
}
.prod-ac:hover{
    background-color: #001c30be;
}
.image-big-prod-con:hover .left-key-prod{
    display: flex;
}
.image-big-prod-con:hover .right-key-prod{
    display: flex;
}
.prod-big-display-con:hover{
    filter: brightness(50%);
}
.prod-small-display-con:hover{
    filter: brightness(50%);
}
.prod-quantity-finish{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
    margin-bottom: 20px;
    font-size: x-large;
}
.newprodimg{
    width: 98%;
    margin-top: 10px;
    height: 200px;
    border-radius: 5px;
}